/Datastructures/target/
/TodoApp2/nbproject/private/
/TodoApp2/build/
/TodoAppAnt/nbproject/private/
/TodoAppAnt/build/
/TodoAppAnt/dist/
/EstruturasDeDados/target/
/Teste/nbproject/private/
/TodoAppAnt2/nbproject/private/
/TodoAppAnt2/dist/
/TodoAppAnt2/build/
/JavaApplication5/nbproject/private/
/OOP/nbproject/private/
